In [14]:
import pandas as pd
import numpy as np 

df = pd.read_csv("sysselsattning.csv")

df

,"Befolkningen 16+ år efter sysselsättning, ålder, kön och år",Unnamed: 1,Unnamed: 2,Unnamed: 3
0,NaN,NaN,NaN,NaN
1,sysselsättning,ålder,kön,2019.0
2,förvärvsarbetande,16-19 år,män,58826.0
3,förvärvsarbetande,16-19 år,kvinnor,72847.0
4,förvärvsarbetande,20-24 år,män,192696.0
5,förvärvsarbetande,20-24 år,kvinnor,174074.0
6,förvärvsarbetande,25-29 år,män,293352.0
7,förvärvsarbetande,25-29 år,kvinnor,268587.0
8,förvärvsarbetande,30-34 år,män,303019.0
9,förvärvsarbetande,30-34 år,kvinnor,271975.0
10,förvärvsarbetande,35-39 år,män,280522.0
11,förvärvsarbetande,35-39 år,kvinnor,255391.0
12,förvärvsarbetande,40-44 år,män,275085.0
13,förvärvsarbetande,40-44 år,kvinnor,260093.0
14,ej förvärvsarbetande,16-19 år,män,176860.0
15,ej förvärvsarbetande,16-19 år,kvinnor,143432.0
16,ej förvärvsarbetande,20-24 år,män,117928.0
17,ej förvärvsarbetande,20-24 år,kvinnor,103001.0
18,ej förvärvsarbetande,25-29 år,män,86633.0
19,ej förvärvsarbetande,25-29 år,kvinnor,91124.0
20,ej förvärvsarbetande,30-34 år,män,64162.0
21,ej förvärvsarbetande,30-34 år,kvinnor,76735.0
22,ej förvärvsarbetande,35-39 år,män,53373.0
23,ej förvärvsarbetande,35-39 år,kvinnor,61312.0
24,ej förvärvsarbetande,40-44 år,män,46857.0
25,ej förvärvsarbetande,40-44 år,kvinnor,49228.0